body{
    background-color: #1C1B20;
    color: white;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: black;
}

.danh-sach-muc{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}
.lien-ket-muc{
    text-decoration: none;
    color: #BCBBBF;
}
.dang-chon{
    background-color: #4C4B51;
    color: white;
}
.muc{
    padding: 10px 20px;
    border-radius: 20px;
}
.logo{
    width:5%;
}
.avata{
    width: 40px;
    border-radius: 10px;
}
.muc:hover{
    background-color: grey;
}
.banner{
    width:90%;
    /* background-color: red; */
    margin: 20px auto;
}
.banner-img{
    width: 100%;
    border-radius:20px;
}
.the-loai{
    width: 90%;
    /* background-color: red; */
    margin: 10px auto;
}
.danh-sach-phim{
    display: flex;
    justify-content: space-between;
}
.phim{
    width: 19%;
    height: 20vh;
    /* background-color: blue; */
    img{
    width: 100%;
    border-radius: 20px;
    }
}
.nhan-vat{
    width: 90%;
    margin: 10px auto;
}
.danh-sach-nhan-vat{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nv{
    gap: 20px;
    width: 19%;
    /* background-color: blue; */
    img{
    width: 100%;
    border-radius: 50%;
    }
}
.thong-tin{
    color:#BCBBBF;
}
.danh-sach-thong-tin{
    margin: 20px auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}


